<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Автор</strong>
        <small>02.06.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sapiente laborum, labore amet eum beatae
            distinctio repellat enim, repellendus dolore voluptatibus fugit reiciendis sed dicta dolorem, temporibus ea
            voluptatem ad ipsam ratione excepturi facilis ut eveniet. Aperiam, vitae odio non perspiciatis ab commodi
            provident iste unde accusamus ad sint aliquid?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sapiente laborum, labore amet eum beatae
            distinctio repellat enim, repellendus dolore voluptatibus fugit reiciendis sed dicta dolorem, temporibus ea
            voluptatem ad ipsam ratione excepturi facilis ut eveniet. Aperiam, vitae odio non perspiciatis ab commodi
            provident iste unde accusamus ad sint aliquid?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sapiente laborum, labore amet eum beatae
            distinctio repellat enim, repellendus dolore voluptatibus fugit reiciendis sed dicta dolorem, temporibus ea
            voluptatem ad ipsam ratione excepturi facilis ut eveniet. Aperiam, vitae odio non perspiciatis ab commodi
            provident iste unde accusamus ad sint aliquid?</p>
    </div>
</div>